# Reading data
Read the train.csv file as a pandas dataframe.

In [2]:
import pandas as pd

df = pd.read_csv('data/train.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

# Indexing
1. Create a function that returns the name of a passenger given their PassengerId.
2. Create a function that returns the PassengerId of a passenger given their Name.
3. Print a message with the ID of passenger **Montvila, Rev. Juozas** with the following format: 'The ID pf passenger Montvila, Rev. Juozas is ##'
4. Print a message with the name of the passenger with ID **42** with the following format: 'The passenger with ID 42 is X'

5. Print all information about the oldest passenger.

In [3]:
def get_passenger_name(passenger_id):
    passenger = df.loc[df['PassengerId'] == passenger_id]
    if not passenger.empty:
        return passenger.iloc[0]['Name']
    else:
        return None

print(get_passenger_name(3))

"""Regresa el nombre del pasajero dado su id. Si no existe el pasajero, regresa None.

Args: 
    passenger_id (int): El id del pasajero.

Returns:
    str: El nombre del pasajero o None si no existe.

"""

Heikkinen, Miss. Laina

'Regresa el nombre del pasajero dado su id. Si no existe el pasajero, regresa None.\n\nArgs: \n    passenger_id (int): El id del pasajero.\n\nReturns:\n    str: El nombre del pasajero o None si no existe.\n\n'

In [5]:
def get_passenger_id(name):
    passenger = df.loc[df['Name'] == name]
    if not passenger.empty:
        return passenger.iloc[0]['PassengerId']
    else:
        return None

print(get_passenger_id('Heikkinen, Miss. Laina'))

3

In [6]:
passenger_name = 'Heikkinen, Miss. Laina'
passenger_id = get_passenger_id(passenger_name)
print(f'The ID of passenger {passenger_name} is {passenger_id}')

The ID of passenger Heikkinen, Miss. Laina is 3

In [7]:
passenger_id = 3
passenger_name = get_passenger_name(passenger_id)
print(f'The passenger with ID {passenger_id} is {passenger_name}')

The passenger with ID 3 is Heikkinen, Miss. Laina

In [8]:
oldest_passenger = df.loc[df['Age'].idxmax()]
print(oldest_passenger)

PassengerId                                     631
Survived                                          1
Pclass                                            1
Name           Barkworth, Mr. Algernon Henry Wilson
Sex                                            male
Age                                            80.0
SibSp                                             0
Parch                                             0
Ticket                                        27042
Fare                                           30.0
Cabin                                           A23
Embarked                                          S
Name: 630, dtype: object

# Subseting
We are asked to share data for analysis by a third party. Since our dataset contains personal details, we only want to share with them the following information: ticket classes, fares and port of embarkation. We are asked to deliver a sample of the first 100 rows of this dataset.

6. Create and save the new dataset in **data/port_fares.csv**.

In [9]:
subset_df = df[['Pclass', 'Fare', 'Embarked']].head(100)

subset_df.to_csv('data/port_fares.csv', index=False)

print(subset_df.head())

   Pclass     Fare Embarked
0       3   7.2500        S
1       1  71.2833        C
2       3   7.9250        S
3       1  53.1000        S
4       3   8.0500        S

In [38]:
titanic=pd.read_csv('data/train.csv')
titanic=titanic.set_index('PassengerId')
titanic

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [48]:
titanic.iloc[[1,5,9]]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

# Counting
7. We want to know if there were any survivors over the age of 60, print all of their information.
8. How many people over 60 survived?
9. What percentage of people over 60 survived?

In [11]:
survivors_over_60 = df[(df['Age'] > 60) & (df['Survived'] == 1)]
print(survivors_over_60)

     PassengerId  Survived  Pclass                                       Name  \
275          276         1       1          Andrews, Miss. Kornelia Theodosia
483          484         1       3                     Turkula, Mrs. (Hedwig)
570          571         1       2                         Harris, Mr. George
630          631         1       1       Barkworth, Mr. Algernon Henry Wilson
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)

        Sex   Age  SibSp  Parch       Ticket     Fare Cabin Embarked
275  female  63.0      1      0        13502  77.9583    D7        S
483  female  63.0      0      0         4134   9.5875   NaN        S
570    male  62.0      0      0  S.W./PP 752  10.5000   NaN        S
630    male  80.0      0      0        27042  30.0000   A23        S
829  female  62.0      0      0       113572  80.0000   B28      NaN

In [12]:
num_survivors_over_60 = len(survivors_over_60)
print(f'The number of people over 60 who survived is {num_survivors_over_60}')

The number of people over 60 who survived is 5

In [13]:
total_over_60 = len(df[df['Age'] > 60])
percentage_survived_over_60 = (num_survivors_over_60 / total_over_60) * 100
print(f'The percentage of people over 60 who survived is {percentage_survived_over_60:.2f}%')

The percentage of people over 60 who survived is 22.73%

# Women and children first?
10. Find out if women and children were more likely to survive.

In [14]:
# Calculate the overall survival rate
overall_survival_rate = df['Survived'].mean()

# Calculate the survival rate for women
women_survival_rate = df[df['Sex'] == 'female']['Survived'].mean()

# Calculate the survival rate for children (age < 18)
children_survival_rate = df[df['Age'] < 18]['Survived'].mean()

print(f'Overall survival rate: {overall_survival_rate:.2f}')
print(f'Survival rate for women: {women_survival_rate:.2f}')
print(f'Survival rate for children: {children_survival_rate:.2f}')

Overall survival rate: 0.38
Survival rate for women: 0.74
Survival rate for children: 0.54

11. Write a function that returns the percentage of people that survived from a subset given as a boolean Pandas series.

In [15]:
def survival_rate(subset):
    """
    Returns the percentage of people that survived from a subset given as a boolean Pandas series.

    Args:
    subset (pd.Series): A boolean series indicating the subset of the dataframe.

    Returns:
    float: The percentage of people that survived in the subset.
    """
    subset_df = df[subset]
    if len(subset_df) == 0:
        return 0.0
    survival_rate = subset_df['Survived'].mean() * 100
    return survival_rate

# Example usage:
subset = df['Age'] < 18  # Subset for children
children_survival_rate = survival_rate(subset)
print(f'The survival rate for children is {children_survival_rate:.2f}%')

The survival rate for children is 53.98%

# Summarizing

12. What is the median age of the passengers?
13. How many passengers embarked from each port?

In [16]:
median_age = df['Age'].median()
print(f'The median age of the passengers is {median_age}')

The median age of the passengers is 28.0

In [17]:
embarked_counts = df['Embarked'].value_counts()
print(embarked_counts)

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

14. Generate two hypotheses about how does the survival rate differ among groups of passengers. Write your code to explore both hypotheses.

In [18]:
# Hypothesis 1: Survival rate by ticket class
survival_rate_by_class = df.groupby('Pclass')['Survived'].mean() * 100
print("Survival rate by ticket class:")
print(survival_rate_by_class)

# Hypothesis 2: Survival rate by gender
survival_rate_by_gender = df.groupby('Sex')['Survived'].mean() * 100
print("\nSurvival rate by gender:")
print(survival_rate_by_gender)

Survival rate by ticket class:
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

Survival rate by gender:
Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64