# Reading data
Read the train.csv file as a pandas dataframe.

In [9]:
import pandas as pd
titanic = pd.read_csv("Data/train.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Indexing
1. Create a function that returns the name of a passenger given their PassengerId.
2. Create a function that returns the PassengerId of a passenger given their Name.
3. Print a message with the ID of passenger **Montvila, Rev. Juozas** with the following format: 'The ID pf passenger Montvila, Rev. Juozas is ##'
4. Print a message with the name of the passenger with ID **42** with the following format: 'The passenger with ID 42 is X'
5. Print all information about the oldest passenger.

In [ ]:
import pandas as pd 

# Cargar los datos en un DataFrame
titanic = pd.read_csv("Data/train.csv")

def get_passenger_name(passenger_id, df):
    result = df.loc[df['PassengerId'] == passenger_id, 'Name']
    return result.values[0] if not result.empty else None

def get_passenger_id(name, df):
    result = df.loc[df['Name'] == name, 'PassengerId']
    return result.values[0] if not result.empty else None

# Obtener y mostrar el ID de Montvila, Rev. Juozas
montvila_id = get_passenger_id("Montvila, Rev. Juozas", titanic)
print(f'The ID of passenger Montvila, Rev. Juozas is {montvila_id}')

# Obtener y mostrar el nombre del pasajero con ID 42
passenger_name = get_passenger_name(42, titanic)
print(f'The passenger with ID 42 is {passenger_name}')

oldest_passenger = titanic[titanic['Age']== titanic['Age'].max()]
print("Information about the oldest passenger:")
print(oldest_passenger)

The ID of passenger Montvila, Rev. Juozas is 887
The passenger with ID 42 is Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)

KeyError: 'Age'

In [9]:
passenger = titanic[titanic.PassengerId==1].Name
passenger[0]

'Braund, Mr. Owen Harris'

# Subseting
We are asked to share data for analysis by a third party. Since our dataset contains personal details, we only want to share with them the following information: ticket classes, fares and port of embarkation. We are asked to deliver a sample of the first 100 rows of this dataset.

6. Create and save the new dataset in **data/port_fares.csv**.

# Counting
7. We want to know if there were any survivors over the age of 60, print all of their information.
8. How many people over 60 survived?
9. What percentage of people over 60 survived?

# Women and children first?
10. Find out if women and children were more likely to survive.

11. Write a function that returns the percentage of people that survived from a subset given as a boolean Pandas series.

# Summarizing

12. What is the median age of the passengers?
13. How many passengers embarked from each port?

14. Generate two hypotheses about how does the survival rate differ among groups of passengers. Write your code to explore both hypotheses.

In [ ]:
import time

start = time.time(
)
total = 0
for i in np.arrange(1000000):
    total = i + total

print(total)
end = time.time()
print(end-start)

In [ ]:
start = time.time()
    
print(no.cum(np.arrange(1000000)))

end = time.time()
print(end-start)