# Reading data
Read the train.csv file as a pandas dataframe.

In [6]:
import pandas as pd
titanic = pd.read_csv("data/train.csv")   
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Indexing
1. Create a function that returns the name of a passenger given their PassengerId.
2. Create a function that returns the PassengerId of a passenger given their Name.
3. Print a message with the ID of passenger **Montvila, Rev. Juozas** with the following format: 'The ID pf passenger Montvila, Rev. Juozas is ##'
4. Print a message with the name of the passenger with ID **42** with the following format: 'The passenger with ID 42 is X'
5. Print all information about the oldest passenger.

In [35]:
from titanic import *

In [49]:
print(id_to_name(titanic, 8)) #1

name_to_id(titanic,"Palsson, Master. Gosta Leonard") #2

messages_name(titanic, 42) #3

messages_id(titanic, "Montvila, Rev. Juozas") #4

print_info(titanic) #5

#NOTAS
print(f'The ID pf passenger Montvila, Rev. Juozas is {name_to_id(titanic, 'Montvila, Rev. Juozas')}') #otra forma de hacer el 3
print(f'The passenger with ID 42 is {id_to_name(titanic, 42)}') # otra forma de hacer el 4
titanic.loc[titanic.Age.idxmax()] # otra forma de hacer el 5

Palsson, Master. Gosta Leonard
'The passenger with ID 42 is Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)
The ID pf passenger of Montvila, Rev. Juozas is: 887
     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson

      Sex   Age  SibSp  Parch Ticket  Fare Cabin Embarked
630  male  80.0      0      0  27042  30.0   A23        S
The ID pf passenger Montvila, Rev. Juozas is 887
The passenger with ID 42 is Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)

PassengerId                                     631
Survived                                          1
Pclass                                            1
Name           Barkworth, Mr. Algernon Henry Wilson
Sex                                            male
Age                                            80.0
SibSp                                             0
Parch                                             0
Ticket                                        27042
Fare                                           30.0
Cabin                                           A23
Embarked                                          S
Name: 630, dtype: object

# Subseting
We are asked to share data for analysis by a third party. Since our dataset contains personal details, we only want to share with them the following information: ticket classes, fares and port of embarkation. We are asked to deliver a sample of the first 100 rows of this dataset.

6. Create and save the new dataset in **data/port_fares.csv**.

In [23]:
##6
port_fares = titanic.loc[:99, ['Pclass', 'Fare', 'Embarked']]
port_fares = port_fares.rename(columns = {"Pclass": "Ticket_classes", "Fare":"Fares", "Embarked": "Port_embarkation"})
port_fares.to_csv('data/port_fares.csv', index = False)
print(port_fares)

    Ticket_classes    Fares Port_embarkation
0                3   7.2500                S
1                1  71.2833                C
2                3   7.9250                S
3                1  53.1000                S
4                3   8.0500                S
..             ...      ...              ...
95               3   8.0500                S
96               1  34.6542                C
97               1  63.3583                C
98               2  23.0000                S
99               2  26.0000                S

[100 rows x 3 columns]

# Counting
7. We want to know if there were any survivors over the age of 60, print all of their information.
8. How many people over 60 survived?
9. What percentage of people over 60 survived?

In [63]:
df_survivors_over60 = titanic[(titanic['Age'] > 60) & (titanic['Survived'] == 1)]
print(df_survivors_over60)  
survivor_over60 = df_survivors_over60.shape[0]
people_over60 = titanic[titanic['Age'] > 60].shape[0]
percentage_survivors_over60 = (survivor_over60 / people_over60) * 100
print(f"Porcentaje de sobrevivientes mayores de 60 años: {percentage_survivors_over60:.2f}%")

     PassengerId  Survived  Pclass                                       Name  \
275          276         1       1          Andrews, Miss. Kornelia Theodosia
483          484         1       3                     Turkula, Mrs. (Hedwig)
570          571         1       2                         Harris, Mr. George
630          631         1       1       Barkworth, Mr. Algernon Henry Wilson
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)

        Sex   Age  SibSp  Parch       Ticket     Fare Cabin Embarked
275  female  63.0      1      0        13502  77.9583    D7        S
483  female  63.0      0      0         4134   9.5875   NaN        S
570    male  62.0      0      0  S.W./PP 752  10.5000   NaN        S
630    male  80.0      0      0        27042  30.0000   A23        S
829  female  62.0      0      0       113572  80.0000   B28      NaN
Porcentaje de sobrevivientes mayores de 60 años: 22.73%

# Women and children first?
10. Find out if women and children were more likely to survive.

11. Write a function that returns the percentage of people that survived from a subset given as a boolean Pandas series.

# Summarizing

12. What is the median age of the passengers?
13. How many passengers embarked from each port?

14. Generate two hypotheses about how does the survival rate differ among groups of passengers. Write your code to explore both hypotheses.

# Vectorización

In [32]:
import numpy as np

In [28]:
import time

start = time.time()

total = 0
for i in np.arange(10000000):
    total = i + total

print(total)
end = time.time()
print(end - start)

49999995000000
1.909900188446045
49999995000000
0.04864764213562012

In [33]:
start = time.time()

print(np.sum(np.arange(10000000)))

end = time.time()
print(end - start)

49999995000000
0.055676937103271484