# Reading data
Read the train.csv file as a pandas dataframe.

In [33]:
import titanic_funciones as tf
import pandas as pd
# Read the train.csv file as a pandas dataframe
titanic = pd.read_csv('data/train.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Indexing
1. Create a function that returns the name of a passenger given their PassengerId.
2. Create a function that returns the PassengerId of a passenger given their Name.
3. Print a message with the ID of passenger **Montvila, Rev. Juozas** with the following format: 'The ID pf passenger Montvila, Rev. Juozas is ##'
4. Print a message with the name of the passenger with ID **42** with the following format: 'The passenger with ID 42 is X'
5. Print all information about the oldest passenger.

#### 1. Create a function that returns the name of a passenger given their PassengerId.

In [34]:
tf.id_to_name(titanic, 1) # Debe regresar 'Braund, Mr. Owen Harris'

'Braund, Mr. Owen Harris'

#### 2. Create a function that returns the PassengerId of a passenger given their Name.

In [35]:
tf.name_to_id(titanic, 'Braund, Mr. Owen Harris') # Debe regresar 1

1

#### 3. Print a message with the ID of passenger **Montvila, Rev. Juozas** with the following format: 'The ID pf passenger Montvila, Rev. Juozas is ##'

In [36]:
print ("The ID pf passenger Montvila, Rev. Juozas is", tf.name_to_id(titanic, 'Montvila, Rev. Juozas'))

The ID pf passenger Montvila, Rev. Juozas is 887

#### 4. Print a message with the name of the passenger with ID **42** with the following format: 'The passenger with ID 42 is X'

In [37]:
print ("The name of passenger with ID 42 is", tf.id_to_name(titanic, 42))

The name of passenger with ID 42 is Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)

#### 5. Print all information about the oldest passenger.

In [38]:
print(titanic.loc[titanic['Age'].idxmax()])

PassengerId                                     631
Survived                                          1
Pclass                                            1
Name           Barkworth, Mr. Algernon Henry Wilson
Sex                                            male
Age                                            80.0
SibSp                                             0
Parch                                             0
Ticket                                        27042
Fare                                           30.0
Cabin                                           A23
Embarked                                          S
Name: 630, dtype: object

# Subseting
We are asked to share data for analysis by a third party. Since our dataset contains personal details, we only want to share with them the following information: ticket classes, fares and port of embarkation. We are asked to deliver a sample of the first 100 rows of this dataset.

6. Create and save the new dataset in **data/port_fares.csv**.

In [39]:
subset = titanic[['Pclass', 'Fare', 'Embarked']].head(100)
subset.to_csv('data/port_fares.csv', index=False)

# Counting
7. We want to know if there were any survivors over the age of 60, print all of their information.
8. How many people over 60 survived?
9. What percentage of people over 60 survived?

# Women and children first?
10. Find out if women and children were more likely to survive.

11. Write a function that returns the percentage of people that survived from a subset given as a boolean Pandas series.

# Summarizing

12. What is the median age of the passengers?
13. How many passengers embarked from each port?

14. Generate two hypotheses about how does the survival rate differ among groups of passengers. Write your code to explore both hypotheses.

# Vectorizaci√≥n

In [40]:
import numpy as np

np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [41]:
import time

start = time.time()

total = 0
for i in np.arange(10000000):
    total = i + total

print(total)
end = time.time()
print(end - start)

49999995000000
2.363126516342163

In [42]:
start = time.time()

print(np.sum(np.arange(10000000)))

end = time.time()
print(end - start)

49999995000000
0.04100394248962402