# Reading data
Read the train.csv file as a pandas dataframe.

In [44]:
import pandas as pd 
titanic = pd.read_csv('data/train.csv')
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Indexing
1. Create a function that returns the name of a passenger given their PassengerId.
2. Create a function that returns the PassengerId of a passenger given their Name.
3. Print a message with the ID of passenger **Montvila, Rev. Juozas** with the following format: 'The ID pf passenger Montvila, Rev. Juozas is ##'
4. Print a message with the name of the passenger with ID **42** with the following format: 'The passenger with ID 42 is X'

5. Print all information about the oldest passenger.

In [45]:
#1
def get_passenger_name(passenger_id):
    """
    Returns the name of a passenger given their PassengerId.
    

    """
    row = titanic.loc[titanic['PassengerId'] == passenger_id, 'Name']
    if not row.empty:
        return row.values[0]
    else:
        return "Passenger ID not found"

passenger_id = int(input("Enter PassengerID")) # Change this value to test different IDs
print(get_passenger_name(passenger_id))

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#2
def get_passenger_id(name):
    """
    Returns the PassengerId of a passenger given their Name.
    """
    row = titanic.loc[titanic['Name'].str.lower() == name.lower(), 'PassengerId']
    if not row.empty:
        return row.values[0]
    else:
        return "Passenger Name not found"

# Ask the user for a Name
passenger_name = input("Enter Passenger Name: ").strip()
print("Passenger ID:", get_passenger_id(passenger_name))

Passenger ID: 3

In [ ]:
#3
def get_passenger_id(name):
    """
    Returns the PassengerId of a passenger given their Name.
    """
    row = titanic.loc[titanic['Name'] == name, 'PassengerId']
    if not row.empty:
        return row.values[0]
    else:
        return None

# Passenger name
passenger_name = "Montvila, Rev. Juozas"

# Get the Passenger ID
passenger_id = get_passenger_id(passenger_name)

# Print the message
if passenger_id:
    print(f'The ID of passenger {passenger_name} is {passenger_id}')
else:
    print(f'Passenger {passenger_name} not found')

The ID of passenger Montvila, Rev. Juozas is 887

In [ ]:
#4
def get_passenger_name(passenger_id):
    """
    Returns the name of a passenger given their PassengerId.
    """
    row = titanic.loc[titanic['PassengerId'] == passenger_id, 'Name']
    if not row.empty:
        return row.values[0]
    else:
        return None

# Get the name of the passenger with ID 42
passenger_id = 42
name = get_passenger_name(passenger_id)

# Print the message
if name:
    print(f'The passenger with ID {passenger_id} is {name}')
else:
    print(f'Passenger with ID {passenger_id} not found')

The passenger with ID 42 is Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)

In [ ]:
titanic.loc[[1,5,9,13,890]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [46]:
#5 
eldest_passenger = titanic.loc[titanic['Age'].idxmax()]
print(eldest_passenger)

PassengerId                                     631
Survived                                          1
Pclass                                            1
Name           Barkworth, Mr. Algernon Henry Wilson
Sex                                            male
Age                                            80.0
SibSp                                             0
Parch                                             0
Ticket                                        27042
Fare                                           30.0
Cabin                                           A23
Embarked                                          S
Name: 630, dtype: object

# Subseting
We are asked to share data for analysis by a third party. Since our dataset contains personal details, we only want to share with them the following information: ticket classes, fares and port of embarkation. We are asked to deliver a sample of the first 100 rows of this dataset.

6. Create and save the new dataset in **data/port_fares.csv**.

In [48]:
# Select the required columns and first 100 rows
filtered_data = titanic[['Pclass', 'Fare', 'Embarked']].head(100)

# Save the new dataset
filtered_data.to_csv('data/port_fares.csv', index=False)

print("Dataset saved successfully to 'data/port_fares.csv'")

Dataset saved successfully to 'data/port_fares.csv'

# Counting
7. We want to know if there were any survivors over the age of 60, print all of their information.
8. How many people over 60 survived?
9. What percentage of people over 60 survived?

# Women and children first?
10. Find out if women and children were more likely to survive.

11. Write a function that returns the percentage of people that survived from a subset given as a boolean Pandas series.

# Summarizing

12. What is the median age of the passengers?
13. How many passengers embarked from each port?

14. Generate two hypotheses about how does the survival rate differ among groups of passengers. Write your code to explore both hypotheses.